.paginationContainer {
  display: flex;
  align-items: center;
}

.paginationButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  background: transparent;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: transform 0.25s linear;
  cursor: pointer;
}

.paginationButton:last-child {
  margin-right: 0;
}

.paginationButton:hover,
.paginationButton:focus {
  transform: scale(1.1);
}

.paginationButton:disabled,
.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: default;
}

.paginationSvg {
  width: 16px;
  height: 16px;
}

.strokeDisabled {
  stroke: rgba(255, 255, 255, 0.5);
}

.strokeEnabled {
  stroke: rgba(255, 255, 255, 1);
}

@media (min-width: 768px) {
  .paginationButton {
    width: 40px;
    height: 40px;
  }

  .paginationSvg {
    width: 20px;
    height: 20px;
  }
}
