.remarkContainer {
  display: none;
}

.remarkText {
  width: 219px;
  color: var(--grayLight-color);
}

.remarkSpan {
  color: var(--whitePrimary-color);
}

@media (min-width: 1440px) {
  .remarkContainer {
    display: flex;
    align-items: center;
    gap: 14px;
    width: 313px;
    height: 83px;
    border-radius: 12px;

    background: var(--grayBlack-color);
    padding: 14px 20px;
  }
}
