.actionButton {
  border-radius: 30px;
  color: var(--blackLight-color);
  background-color: var(--grayDark-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  margin-right: 14px;
  padding: 12px 29px;
  transition: color 0.3s linear, background-color 0.3s linear;
}

.actionButton.login {
  padding: 12px 45px;
}

.actionButton:hover,
.actionButton:focus {
  color: var(--whitePrimary-color);
  background: var(--blackLight-color);
  box-shadow: 0 0 0 2px rgba(249, 249, 249, 0.2);
}

.actionLink {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.2px;
  color: var(--grayLight-color);
  transition: color 0.3s linear;
}

.actionLink::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3px;
  height: 1px;
  background-color: var(--grayLight-color);
  transition: background-color 0.3s linear;
}

.actionLink:hover,
.actionLink:focus {
  color: var(--whitePrimary-color);
}

.actionLink:hover::after,
.actionLink:focus::after {
  background: var(--whitePrimary-color);
}

@media (min-width: 768px) {
  .actionButton {
    font-size: 20px;
    margin-right: 20px;
    padding: 16px 54px;
  }
  .actionLink {
    font-size: 14px;
  }
}
