.libraryContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.libraryHeader {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.14;
}

.bookList {
  display: flex;
  flex-wrap: wrap;
  gap: 27px 20px;
  height: 260px;
  overflow: hidden;
  overflow-y: auto;
}

.bookList::-webkit-scrollbar {
  display: none;
}

@media (min-width: 768px) {
  .libraryHeader {
    font-size: 28px;
  }
  .bookList {
    height: 523px;
  }
}
