.wrapper {
  margin-bottom: 20px;
}

.customLogo {
  margin-bottom: 40px;
}

.titleHeading {
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
}

.highlightedText {
  color: rgba(227, 227, 227, 0.5);
}

@media (min-width: 768px) {
  .wrapper {
    margin-bottom: 40px;
  }
  .customLogo {
    margin-bottom: 108px;
  }
  .titleHeading {
    width: 444px;
    font-size: 64px;
    line-height: 0.94;
  }
}
