.modalContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 342px;
  height: 290px;
  background-color: var(--blackLight-color);
  border-radius: 12px;
  padding: 60px 46px;
}

.closeButton {
  position: absolute;
  top: 16px;
  right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: var(--blackLight-color);
  background-color: transparent;
  transition: transform 0.25s linear;
}

.closeButton:hover,
.closeButton:focus {
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .modalContainer {
    padding: 49px;
  }
  .closeButton {
    right: 16px;
  }
}
