.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.headerInner {
  display: flex;
  align-items: center;
  width: 335px;
  height: 57px;
  background: var(--blackLight-color);
  border-radius: 15px;
  padding: 11px 20px;
}

.navContainer {
  display: none;
}

.navContainerVisible {
  display: block;
  margin-left: 223px;
}

.navigationLink {
  position: relative;
  padding: 10px 2px;
  font-size: 14px;
  line-height: 1.13;
  color: var(--grayLight-color);
  text-decoration: none;
  transition: color 0.2s linear;
}

.navigationLink:hover,
.navigationLink:focus {
  color: red;
}

.navigationLink.active {
  color: var(--whitePrimary-color);
}

.navigationLink.active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--blue-color);
  border-radius: 2px;
  left: 50%;
  transform: translateX(-50%);
  top: 79%;
}

.userInfoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.avatarWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid rgba(249, 249, 249, 0.2);
  background: var(--grayBlack-color);
  margin-right: 10px;
}

.username {
  display: none;
}

.actionButton {
  display: none;
}

.menuToggle {
  background: transparent;
  scale: 1;
  margin: auto 0;
  transition: scale 0.25s linear;
}

.menuToggle:hover,
.menuToggle:focus {
  scale: 1.1;
}

@media (min-width: 768px) {
  .headerContainer {
    padding-top: 32px;
  }
  .headerInner {
    width: 704px;
    height: 74px;
    padding: 16px;
  }
  .navContainer {
    display: block;
    margin-left: 223px;
  }
  .navigationLink {
    font-size: 16px;
  }
  .navigationLink:not(:last-child) {
    margin-right: 32px;
    padding: 20px 2px;
  }
  .avatarWrapper {
    width: 40px;
    height: 40px;
    margin-right: 16px;
  }
  .actionButton {
    display: block;
    font-size: 16px;
    padding: 12px 28px;
    border-radius: 30px;
    color: var(--whitePrimary-color);
    background: var(--blackLight-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    margin-right: 14px;
    padding: 12px 28px;
    box-shadow: 0 0 0 2px rgba(249, 249, 249, 0.2);
    transition: color 0.3s linear, background-color 0.3s linear;
  }
  .actionButton:hover,
  .actionButton:focus {
    color: var(--blackLight-color);
    background: var(--whitePrimary-color);
    box-shadow: none;
  }
  .menuToggle {
    display: none;
  }
}

@media (min-width: 1440px) {
  .headerInner {
    width: 1216px;
  }
  .navContainer {
    margin-left: 332px;
  }
  .navigationLink:not(:last-child) {
    margin-right: 40px;
  }
  .avatarWrapper {
    margin-right: 8px;
  }
  .username {
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin-right: 16px;
  }
}
