.menuContainer {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: var(--grayBlack-color);
  transform: translateX(100%);
  transition: transform 0.25s ease;
  padding: 280px 4px 40px 4px;
}

.menuContainerOpen {
  transform: translateX(0%);
}

.closeButton {
  position: absolute;
  top: 34px;
  right: 40px;
  background: transparent;
  transition: transform 0.25s linear;
}

.closeButton:hover,
.closeButton:focus {
  transform: scale(1.1);
}

.linksContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  max-width: 70px;
}

.navigationLink {
  position: relative;
  padding: 10px 2px;
  font-size: 14px;
  line-height: 1.13;
  color: var(--grayLight-color);
  text-decoration: none;
  transition: color 0.2s linear;
}

.navigationLink:hover,
.navigationLink:focus {
  color: red;
}

.navigationLink.active {
  color: var(--whitePrimary-color);
}

.navigationLink.active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--blue-color);
  border-radius: 2px;
  left: 50%;
  transform: translateX(-50%);
  top: 79%;
}

@media (min-width: 768px) {
  .navigationLink {
    font-size: 16px;
  }
  .navigationLink:not(:last-child) {
    margin-right: 32px;
    padding: 20px 2px;
  }
}

@media (min-width: 1440px) {
  .navigationLink:not(:last-child) {
    margin-right: 40px;
  }
}
