.heading {
  text-align: center;
  color: var(--grayLight-color);
}

.img {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.libraryName {
  color: var(--whitePrimary-color);
}

.successMessage {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.modalContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 342px;
  height: 290px;
  background-color: var(--blackLight-color);
  border-radius: 12px;
  padding: 60px 46px;
}

.closeButton {
  position: absolute;
  top: 16px;
  right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: var(--blackLight-color);
  background-color: transparent;
  transition: transform 0.25s linear;
}

.closeButton:hover,
.closeButton:focus {
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .img {
    width: 68px;
    height: 70px;
    margin-bottom: 32px;
  }
  .successMessage {
    font-size: 20px;
    margin-bottom: 14px;
  }
  .modalContainer {
    padding: 49px;
  }
  .closeButton {
    right: 16px;
  }
}
